@media (min-width: 768px) {
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }

    .navbar li {
        margin-left : 1em;
        margin-right : 1em;
    }
}

img, video, object, embed {
max-width: 100%;    
height: auto;
overflow:hidden !important;
}